body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#434343;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


.container{
    position:relative;
        margin-top:0px;


    #canvas-container{
        height:528px;
        width:720px;
        margin:auto;
        background-color:black;
        position:relative;
        -webkit-touch-callout: none;

        canvas{
            width:100%;
            height:100%;
            position:absolute;
            -webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
        }
    }
}

footer{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    text-align:center;
    background-color:#2F2F2F;
    color:LightGoldenRodYellow;
    list-style-type: none;
    font-family:calibri;
    padding:20px 0px;
    
    border-top:1px solid #DADAB2;
    ul{
        padding:0px;
        li{
        display:inline-block;
        img{
            height:48px;
            width:48px;
            position:relative;
             /*Reflection*/ 
             -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1))); 

             &:hover { 
                 opacity: 1; /*Reflection*/ 
                 -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4))); 
                 /*Glow*/ 
                 

             } 
             &:active{
                 top:1px;
             }
        }
        margin-right:5px;
        margin-left:5px;
    }
    }

}
@font-face {
	font-family: Minecraftia;
	src: url('Minecraftia.ttf') format('truetype');
}