@using System.Web.Optimization
@model dynamic

@{
    Layout = "~/views/shared/_Layout.cshtml";
}

<div class="container">
    @*<div id="canvas-container">
        <canvas id="game-canvas" width="720" height="528" onselectstart="return false;"></canvas>
        
    </div>*@
</div>

@section Scripts {
    <script src="//code.createjs.com/createjs-2013.09.25.min.js"></script>
    @*<script>
        window.tilemap = @Html.Action("TileMap");
        window.levels = @Html.Action("Levels");
        </script>*@

    @Scripts.Render(
        "~/bundles/jsapplibs")

}
