@using System.Web.Optimization
@model dynamic

@{
    Layout = "~/views/shared/_Layout.cshtml";
}

<div class="container">
    <div id="game-container">
        @*<canvas id="game-canvas" width="419" height="259" onselectstart="return false;"></canvas>*@
        <table id="game-table"></table>
    </div>
    <div id="controls-container">
        <button type="button" class="btn btn-default" data-bind="click: togglePlay">
            <span data-bind="css: { glyphicon: true, 'glyphicon-play': !isPlaying(), 'glyphicon-pause': isPlaying }"></span>
        </button>
            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-volume-off"></span></button>
        <div id="bpm-container">
            <label for="bpm-input" class="col-lg-2 control-label">BPM</label>
            <input id="bpm-input" type="number" data-bind="value: bpm" />
        </div>
    </div>

</div>

@section Scripts {

    @Scripts.Render(
        "~/bundles/jsapplibs")

}
