@using System.Runtime.Serialization.Json
@using System.Web.Optimization
@using GameOfMusicV2.Models
@using Newtonsoft.Json
@model dynamic

@{
    Layout = "~/views/shared/_Layout.cshtml";
    var track = ViewBag.Track as string;
}

<div class="container" id="container">
    <div id="game-container">
        <table id="game-table"></table>
    </div>
    <div id="controls-container">
        <button type="button" class="btn btn-primary" data-bind="click: togglePlay" id="play-btn">
            <span data-bind="css: { glyphicon: true, 'glyphicon-play': !isPlaying(), 'glyphicon-pause': isPlaying }"></span>
        </button>
        <button type="button" class="btn btn-primary" data-bind="click: clear, event: { blur: stopVerifyingClear }" id="clear-btn">
            <span data-bind="css: { glyphicon: true, 'glyphicon-trash': !isVerifyingClear(), 'glyphicon-ok': isVerifyingClear }"></span>
        </button>
        <button type="button" class="btn btn-primary" id="lock-btn" data-bind="click: toggleLock" >
            <span class="glyphicon glyphicon-lock"></span>
            <span class="glyphicon glyphicon-ban-circle" id="unlock" data-bind="visible:isLocked"></span>
        </button>
        <div id="bpm-container" class="input-container">
            <input id="bpm-input" type="number" data-bind="value: song.bpm" class="input" />
        </div>
        <div id="sound-set-container" class="input-container">
            <select id="sound-set-input" class="input">
                <option>8bit</option>
                <option>Rock</option>
                <option>Latin</option>
            </select>

        </div>
        <button type="button" class="btn btn-primary" id="share-btn" data-toggle="modal" data-target="#share-track-dlg">
            <span class="glyphicon glyphicon-share"></span><span id="text">Share This Song</span>
        </button>
        <button type="button" class="btn btn-primary" id="help-btn" data-bind="click: showTour">
            <span class="glyphicon glyphicon-question-sign"></span>
        </button>
    </div>
    <div id="chord-container" class="well">
        <ul data-bind="foreach: song.chords">
            <li data-bind="css:{ current:isCurrent}">
                <span class="key enable-popover" data-bind="text: key, click: $parent.changeKey" data-placement="bottom"></span>
                <span class="mod enable-popover" data-bind="text: mod, click: $parent.changeMod" data-placement="bottom"></span>
                <span class="remove-btn glyphicon glyphicon-remove" data-bind="click: $parent.removeChord, visible:$parent.song.chords().length > 1"></span>
                <span class="add-btn glyphicon glyphicon-plus" data-bind="click: $parent.addChord, visible: $parent.song.chords().length < 16"></span>
            </li>
        </ul>
    </div>
</div>

<div class="modal fade" id="share-track-dlg">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Share your track</h4>
            </div>
            <div class="modal-body">
                <div>
                    <span>Track Link</span>
                    <img src="/Content/Images/ajax-loader.gif" alt="" id="spinner" data-bind="visible: !trackUrl()" />
                </div>
                <div class="input-group" id="url-input-container">
                    <input type="text" class="form-control" placeholder="Generating..." data-bind="value: trackUrl" id="url-input">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary" id="copy-btn" data-placement="top" data-clipboard-target="url-input">
                            Copy
                        </button>
                    </span>
                </div>
                <div id="social-share">
                    <div>Share on</div>
                    <a id="facebook-link" data-bind="attr{href:'https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(trackUrl())}" class="popup">
                        <div id="share-track-facebook" class="btn">
                            <img src="/Content/Images/share_facebook.png" alt="" />
                            <span>Facebook</span>
                        </div>
                    </a>
                    <a data-bind="attr:{href: 'https://twitter.com/home?status='+encodeURIComponent('Check out my track on Game of Music! ' + trackUrl() + ' #GameOfMusic via @@InjaGames')}" class="popup">
                        <div id="share-track-twitter" class="btn">
                            <img src="/Content/Images/share_twitter.png" alt="" />
                            <span>Twitter</span>
                        </div>
                    </a>
                    <a id="google-link" data-bind="attr{href:'https://plus.google.com/share?url=' + encodeURIComponent(trackUrl())}" class="popup">
                        <div id="share-track-google" class="btn">
                            <img src="/Content/Images/share_google.png" alt="" />
                            <span>Google</span>
                        </div>
                    </a>
            </div>
            </div>
            <div class="modal-footer">
                <div class="btn btn-default" data-dismiss="modal">Close</div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/html" id="chords-list">
        <table>
            <tbody>
                <tr>
                    <td>A</td>
                    <td>A#</td>
                    <td>B</td>
                    <td>C</td>
                </tr>
                <tr>
                    <td>C#</td>
                    <td>D</td>
                    <td>D#</td>
                    <td>E</td>
                </tr>
                <tr>
                    <td>F</td>
                    <td>F#</td>
                    <td>G</td>
                    <td>G#</td>
                </tr>
            </tbody>
        </table>
    </script>
    <script type="text/html" id="mod-list">
        <table>
            <tbody>
                <tr>
                    <td>maj</td>
                    <td>min</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>maj7</td>
                    <td>min7</td>
                    <td>aug</td>
                </tr>
            </tbody>
        </table>
    </script>
    @Scripts.Render(
        "~/bundles/jsapplibs")
    @if (track != null)
    {
        <script>
            window.track = @Html.Raw(track);
        </script>
    }
}
